body{
    background-color: white;
    font-family: 'Open Sans';
}
.nav-item{
    /*float: left;*/
    font-family: 'Open Sans'
}
.nav-item a {
    /*display: block;*/
    text-decoration: none;
    /*text-align: center;*/
    color: black;
    padding: 12px 12px 12px 12px;
}
.nav-item a:hover {
    color: #ff0f00;
    text-decoration: none;
}
.nav-item-active a{
    color: #ff0f00;
}
nav{
    margin-top: 20px;
}
.col-12{
    text-align: center;
    margin-top: 3%;
}
.col-4{
    text-align: center;
    margin-top: 3%;
}
.col-8{
    text-align: left;
    margin-top: 3%;
}
.col-article-text
{
    font-family: "Raleway", sans-serif;
}
.article-title
{
    font-weight: 400;
    font-size: 40px;
}
.article-text{
    font-weight: 200;
    font-size: 18px;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
/*.even-row{*/
    /*border: solid;*/
    /*margin: 5px 5px 5px 5px;*/
/*}*/
/*.odd-row*/
/*{*/
    /*border: solid;*/
    /*margin: 5px 5px 5px 5px;*/
/*}*/