body{
    background-color: white;
}
.navBar{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 70%;
    position: fixed;
    top: 0;
}
li{
    float: left;
    font-family: 'Open Sans'
}
li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 12px 12px 12px 12px;
}
li a:hover {
    color: #ff0f00;
    text-decoration: none;
}
.active
{
    color: #ff0f00;
}
.logo-image{
    width: 200px;
    height: auto;
    padding-left: 12px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: white;
}
.container .image:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Open Sans';
}