body{
    background-color: white;
    font-family: 'Open Sans';
}
.nav-item{
    /*float: left;*/
    font-family: 'Open Sans'
}
.nav-item a {
    /*display: block;*/
    text-decoration: none;
    /*text-align: center;*/
    color: black;
    padding: 12px 12px 12px 12px;
}
.nav-item a:hover {
    color: #ff0f00;
    text-decoration: none;
}
.nav-item-active a{
    color: #ff0f00;
}
nav{
    margin-top: 20px;
}
.col-text{
    font-family: Raleway;
    font-weight: 100;
}
.container-main-content{
    margin-top: 5%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}